.auth__page-container {
  position: relative;
  padding-top: 109px;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: -30px;
    background-color: $text-blue;
    z-index: -5;
    border-radius: 0 0 30px 30px;
  }
}

.auth__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  text-align: center;
}

.auth__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

  &--1 {
    padding: 0;
    color: $basic-yellow;
  }
}

.index-form {
  position: relative;
}

.index-form__control {
  margin-top: 14px;
  width: 225px;
  border: none;
  background-color: $basic-white;
  border-radius: 10px;
  padding: 22px 25px;
}

.index-form__btn {
  position: absolute;
  top: 14px;
  right: 0px;
  background-color: $basic-yellow;
  border-radius: 10px;
  border: none;
  width: 60px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 16px;
    background-image: url(../../img/triangle-arrow-right.svg);
    background-repeat: no-repeat;

  }
}

.auth__text--2 {
  margin-top: 28px;
}

.auth__feedback {
  margin-top: 32px;
  padding-left: 61px;
}


.auth__item:not(:last-child) {
  margin-bottom: 27px;
}

.auth__item {
  position: relative;


  &--tel {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $basic-yellow;
  }

  &--mail {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $basic-yellow;
  }
}

.auth__item-svg {
  position: absolute;
  left: -16px - 45px;
  top: -15px;
  background-color: $icon-bg;
  padding: 14px 13.5px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.auth__svg {
  width: 18px;
  height: 17px;
}

.auth__svg-path {
  fill: $basic-yellow;
}