.auth {
  position: relative;
  padding-top: 157px;
  padding-bottom: 42px;
  margin-bottom: -68px;
  background-color: $text-blue;
  z-index: 12;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    padding-top: 159px;
    padding-bottom: 79px;
    margin-bottom: -62px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 192px;
    min-height: 837px;
  }
}

.auth__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.auth__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $desktop-width) {
    padding-right: 345px;
    margin-top: 59px;
    line-height: 30px;
    padding-left: 345px;
  }

  &--1 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    color: $basic-yellow;

    &:hover {
      color: $special-orange;
    }

    &:active {
      color: rgba($special-orange, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32px;
  }

  &--2 {
    margin-top: 28px;

    @media (min-width: $tablet-width) {
      margin-top: 57px;
      line-height: 30px;
      letter-spacing: 0.01em;
      padding-left: 33px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 69px;
      padding-left: 336px;
    }
  }
}

.auth__index-form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
    margin-left: 36px;
    margin-right: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-left: 72px;
    margin-right: 74px;
  }
}

.auth__grid {
  position: relative;
  width: 100%;
  margin-top: 14px;
}

.auth__control-shake {
  animation: shake 0.6s;
}

.auth__control {
  position: relative;
  width: 100%;
  border: none;
  background-color: $basic-white;
  border-radius: 10px;
  padding: 22px 70px 22px 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  &:hover {
    background-color: $basic-white-dark;
  }

  &:focus {
    border: 4px solid $basic-white;
    background-color: transparent;
    color: $basic-white;
  }

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: $special-grey;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &--invalid {
    color: $basic-red;
    &::placeholder {
      color: $basic-red;
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 22px 70px 22px 36px;
    margin-top: 0;
    height: 80px;
    border-radius: 20px;
  }
}

.auth__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $basic-yellow;
  border-radius: 10px;
  border: none;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $special-yellow-dark;

    .auth__btn-text {
      background-color: $special-yellow-dark;
    }
  }

  &:active {
    color: rgba($basic-blue-light, 0.3);

    &::after {
      opacity: 0.3;
    }

    .auth__btn-text {
      color: rgba($basic-blue-light, 0.3);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 16px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    top: 0;
    width: 80px;
    border-radius: 0 20px 20px 0;
  }
}

.auth__btn-text {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 76px;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: $basic_blue_light;
    background-color: $basic-yellow;
    height: 80px;
    padding: 28px 75px 27px 36px;
  }
}

.auth__feedback {
  margin-top: 32px;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    padding-left: 125px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 232px;
    margin-top: 77px;
    padding-left: 345px;
  }
}


.auth__item:not(:last-child) {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}

.auth__item {
  position: relative;
  justify-content: flex-end;

  &:hover {
    color: $special_yellow_dark;

    .auth__svg-path {
      fill: $special_yellow_dark;
    }
  }

  &:active {
    color: rgba($basic-yellow, 0.3);

    .auth__svg-path {
      fill: $special_yellow_dark;
      opacity: 0.3;
    }
  }

  &--tel {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $basic-yellow;
  }

  &--mail {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $basic-yellow;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.auth__item-svg {
  position: absolute;
  left: -16px - 45px;
  top: -15px;
  background-color: $icon-bg;
  padding: 14px 13.5px;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    left: -90px;
    top: -22px;
    width: 68px;
    height: 68px;
    padding: 22px 20.5px;

    & svg {
      width: 27px;
      height: 25px;

      @media (min-width: $desktop-width) {
        width: 36px;
        height: 34px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    left: -120px;
    top: -31px;
    width: 90px;
    height: 90px;
    padding: 28px 26.5px;
  }
}

.auth__svg-path {
  fill: $basic-yellow;
}
