.catalog-cart {
  background-color: $basic-white;
  border-radius: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 22px;
  margin-bottom: 10px;
  min-height: 394px;

  &:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
    margin-top: -1px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 180px 105px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 39px;
    min-height: 333px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 180px 140px 1fr 108px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
    margin-bottom: 31px;
    min-height: 281px;
  }
}

.catalog-cart__item {
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &--photo {
    grid-row: 1 / 4;
    margin-left: 18px;

    & img {
      border-radius: 50%;
    }

    @media (min-width: $tablet-width) {
      margin-left: 35px;
      margin-top: 20px;

      & img {
        border-radius: 20px;
        width: 190px;
        height: 190px;
      }
    }

    @media (min-width: $desktop-width) {
      & img {
        border-radius: 20px 0 0 20px;
        width: 285px;
        height: 285px;
      }
      max-height: 285px;
      margin: 0;
      grid-row: 1 / -1;
    }
  }
}

.catalog-cart__like {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-blue;
  border: none;
  background-color: transparent;
  margin-top: 6px;
  margin-right: 28px;

  &:hover {
    &::after {
      background-color: $bg-grey;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -23px;
    width: 31px;
    height: 31px;
    background-color: $hover-head;
    background-image: url("../img/heart.svg");
    background-size: 13px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &--active {
    &::after {
      background-color: $catalog-like;
      background-image: url("../img/heart-active.svg");
    }

    &:hover {
      &::after {
        background-color: $hover-head-act;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-top: 15px;
    margin-left: 55px;
    align-self: self-start;

    &::after {
      top: -15px;
      left: -55px;
      width: 50px;
      height: 50px;
      background-size: 20px;
      background-position: 15px 16px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
    margin-top: 13px;
    align-self: self-start;

    &::after {
      top: -14px;
      left: -57px;
    }
  }
}

.catalog-cart__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-decoration: none;
  grid-column: 2 / 4;
  margin-left: 14px;
  width: 105px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-size: 30px;
    line-height: 30px;
    width: 215px;
    margin-top: 16px;
    margin-left: 33px;
    white-space: nowrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    justify-self: center;
    align-self: center;
    margin-left: 19px;
    margin-top: 22px;
  }
}

.catalog-cart__tags {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $special-grey;
  grid-column: 1 / -1;
  padding: 0 26px;
  margin-top: 8px;
  margin-bottom: 13px;
  padding-right: 54px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    margin-left: 36px;
    margin-top: -11px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 62px;
  }
}

.catalog-cart__visit {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    margin-left: 84px;
    margin-top: -8px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    margin-left: 123px;
    margin-top: 52px;

    .catalog-cart__title {
      display: none;
    }
  }
}

.catalog-cart__transport {
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;

    .catalog-cart__title {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 3 / 4;
    margin-left: 69px;
    margin-top: -8px;
  }
}

.catalog-cart__level {
  position: relative;
  grid-column: 3 / 4;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    justify-self: end;
    margin-right: 40px;
    align-self: start;
    margin-top: 0;
    height: 29px;

    .catalog-cart__title {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 5 / 6;
    margin-bottom: 0;
    justify-self: start;
    align-self: flex-start;
    margin-top: -23px;
    margin-left: 16px;
  }
}

.catalog-cart__title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.catalog-cart__num {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
  text-align: center;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 23px;
    background-image: url("../img/Subtract99.svg");
    background-repeat: no-repeat;
    background-size: 45px;
    width: 46px;
    height: 45px;

    @media (min-width: $tablet-width) {
      width: 65px;
      background-size: 64px;
      height: 65px;
      top: -14px;
      left: -20px;
    }

    @media (min-width: $desktop-width) {
      top: -13px;
      left: -19px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    margin-top: 6px;
    padding-right: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
  }
}

.catalog-cart__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 14px;
    line-height: 14px;
    color: $basic-black;
    opacity: 0.3;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      height: 1px;
      width: 31px;
      background-color: $basic-black;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    top: 41px;
  }
}

.catalog-cart__country {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-blue-light;
  margin-left: 65px;
  margin-top: 2px;
  margin-bottom: 11px;

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -40px;
    width: 28px;
    height: 18px;
    background-size: 117px;
    background-repeat: no-repeat;
    background-image: url("../img/flags.svg");

    @media (min-width: $tablet-width) {
      background-size: 153px;
      top: -2px;
      left: -46px;
      width: 35px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      top: -3px;
      left: -54px;
    }
  }

  &--srilanka {
    &::after {
      background-position: -60px -43px;

      @media (min-width: $tablet-width) {
        background-position: -79px -56px;
      }
    }
  }

  &--thailand {
    &::after {
      background-position: -60px 0;

      @media (min-width: $tablet-width) {
        background-position: -79px 0;
      }
    }
  }

  &--seychelles {
    &::after {
      background-position: 0 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }
  }

  &--belgium {
    &::after {
      background-position: -30px -43px;

      @media (min-width: $tablet-width) {
        background-position: -39px -56px;
      }
    }
  }

  &--czech {
    &::after {
      background-position: -30px -22px;

      @media (min-width: $tablet-width) {
        background-position: -39px -27px;
      }
    }
  }

  &--usa {
    &::after {
      background-position: -90px 0;

      @media (min-width: $tablet-width) {
        background-position: -118px 0;
      }
    }
  }

  &--australia {
    &::after {
      background-position: 0 -22px;

      @media (min-width: $tablet-width) {
        background-position: 0 -27px;
      }
    }
  }

  &--dominica {
    &::after {
      background-position: -30px 0;

      @media (min-width: $tablet-width) {
        background-position: -39px 0;
      }
    }
  }

  &--britain {
    &::after {
      background-position: 0 -43px;

      @media (min-width: $tablet-width) {
        background-position: 0 -56px;
      }
    }
  }

  &--germany {
    &::after {
      background-position: -60px -22px;

      @media (min-width: $tablet-width) {
        background-position: -79px -27px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-right: 72px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.catalog-cart__button {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
  border: none;
  text-decoration: none;
  background-color: $basic-yellow;
  display: block;
  padding: 12px 0;
  grid-column: 1 / -1;
  border-radius: 25px;
  margin-right: 20px;
  margin-left: 20px;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba($basic-blue, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 50px;
    margin-left: 29px;
    margin-top: 0;
    width: 150px;
    font-size: 20px;
    padding: 16px 0;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 55px;
    margin-top: 0;
  }
}

.catalog-cart__show-more {
  text-align: center;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    margin-right: 85px;
    padding-top: 33px;
  }
}

.catalog-cart__companions {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-blue-light;
  text-decoration: none;
  padding-left: 30px;

  &:hover {
    &::after {
      opacity: 0.6;
    }

    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }

    &::before {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: $basic-blue-light;

    @media (min-width: $tablet-width) {
      width: 26px;
      left: -7px;
    }

    @media (min-width: $desktop-width) {
      left: -50px;
      transform: translateY(0);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 2px;
    height: 18px;
    border-radius: 2px;
    background-color: $basic-blue-light;

    @media (min-width: $tablet-width) {
      height: 26px;
    }

    @media (min-width: $desktop-width) {
      left: -38px;
      transform: translateY(-46%);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 23px;
    padding-left: 0;
  }
}

.catalog-cart__arrow-wrap {
  position: relative;
  display: grid;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 46px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 51px;
    width: 1px;
    background-color: $basic-white-dark;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    border-radius: 20px;
    margin-top: 53px;
    min-height: 100px;
    grid-template-columns: 1fr 58px 58px;
    justify-content: end;
    align-items: center;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
    grid-template-columns: 1fr 60px 66px;
    margin-bottom: 77px;
  }
}

.catalog-cart__arrow {
  display: block;
  width: 135px;
  height: 51px;
  background-color: $basic-white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 58px;
    background-color: transparent;
  }

  &--left {
    grid-column: 2 / 3;
    border-radius: 20px 0 0 20px;
    background-image: url("../img/triangle-arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;

    @media (min-width: $tablet-width) {
      background-position: 60%;
    }
  }

  &--right {
    grid-column: 3 / 4;
    border-radius: 0 20px 20px 0;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;

    @media (min-width: $tablet-width) {
      background-position: 30%;
    }
  }
}

.catalog-cart__number-site-wrap {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: $basic-blue-light;
    display: flex;
    flex-wrap: wrap;
    padding-left: 29px;
    padding-top: 29px;
    margin: 0;
    z-index: 0;
  }
}

.catalog-cart__number-site {
  display: none;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    &::after {
      content: "";
      position: absolute;
      top: -50%;
      left: 0;
      transform: translateY(20%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $basic-yellow;
      z-index: 1;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;

    &--active {
      &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: 0;
        transform: translateY(20%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $basic-yellow;
        z-index: 1;
      }
    }
  }
}

.catalog-cart__number-span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    position: relative;
    z-index: 2;
  }
}

.catalog-cart__transport-container {
  width: max-content;
  height: max-content;
  margin-top: -11px;
  margin-left: 21px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 23px;
    grid-template-rows: 1fr;
    margin-right: 45px;
    margin-top: 22px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 24px;
  }
}

.catalog-cart__transport-wrap {
  position: relative;
  margin-top: 8px;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: $basic-white-dark;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.catalog-cart__transport-svg {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 17px;
  margin-right: 6px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 5px;
  z-index: 1;

  &--off {
    opacity: 0.15;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    left: -2px;
    margin-top: -2px;
    margin-bottom: 0;
    margin-right: 9px;
  }
}

.catalog-cart__transport-control {
  position: relative;
  margin-right: 17px;
  display: none;
}

.catalog-cart__transport-control:checked + .catalog-cart__svg {
  opacity: 1;
}
