.catalog-grid {
  margin-top: 95px;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 159px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 286px;
    grid-template-rows: max-content 1fr;
    margin-top: 104px;
    padding-top: 100px;
  }
}
