.catalog-cart-wrap {
  grid-row: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    margin-right: 20px;
  }
}

.catalog-cart {
  background-color: $basic-white;
  border-radius: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 22px;
}

.catalog-cart__item {
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
}

.catalog-cart__photo {
  & img {
    border-radius: 50%;
  }
}

.catalog-cart__like {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-blue;
}

.catalog-cart__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-decoration: none;
  grid-column: 2 / 4;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.catalog-cart__tags {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $special-grey;
  grid-column: 1 / -1;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0;
  }
}

.catalog-cart__visit {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
  }
}

.catalog-cart__transport {
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
}

.catalog-cart__level {
  grid-column: 3 / 4;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

.catalog-cart__title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
}

.catalog-cart__num {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
}

.catalog-cart__country {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-blue-light;
}

.catalog-cart__button {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
  border: none;
  text-decoration: none;
  background-color: $basic-yellow;
  display: block;
  padding: 14px 0;
  grid-column: 1 / -1;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.catalog-cart__show-more {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.catalog-cart__companions {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-blue-light;
}
