.companions-cart__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-left: 34px;
    margin-right: 34px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    margin: 0;
    margin-top: 34px;
  }
}

.companions-cart {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  width: 270px;
  z-index: 18;

  @media (min-width: $tablet-width) {
    width: 285px;
  }
}

.companions-cart:not(:last-child) {
  margin-bottom: 9px;
  margin-right: 10px;

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.companions-cart__img {
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 18;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
  }
}

.companions-cart__level {
  position: absolute;
  margin: 0;
  top: 17px;
  left: 17px;
  z-index: 18;

  &::after {
    content: "";
    position: absolute;
    z-index: 18;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $basic-black;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 22px;
  }
}

.companions-cart__num {
  position: absolute;
  z-index: 19;
  padding-top: 13px;
  padding-left: 17px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-white;

  &--99 {
    background-image: url("../img/Subtract99.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }

  &--80 {
    background-image: url("../img/Subtract80.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
}

.companions-cart__text {
  position: absolute;
  top: 38px;
  left: 17px;
  z-index: 19;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background-color: $basic-white;
    opacity: 0.3;
    top: -2px;
    left: -2px;
  }
}

.companions-cart__block {
  margin-top: -4px;
  width: 270px;
  min-height: 158px;
  background-color: $basic-white;
  border-radius: 0 0 10px 10px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 198px;
    border-radius: 0 0 20px 20px;
  }
}

.companions-cart__flag {
  padding: 0;
  margin: 0;
}

.companions-cart__name {
  display: block;
  width: 132px;
  margin: 0 auto;
  padding-top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: $basic-blue-light;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 34px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $offline;
  }

  &--online {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 34px;
      left: -7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $online;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
    width: 160px;
    padding-top: 29px;
  }
}

.companions-cart__info {
  display: block;
  width: 270px;
  padding-left: 30px;
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $special-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    width: 285px;
    padding-top: 4px;
    margin-bottom: 27px;
  }
}

.companions-cart__icons {
  margin-left: 65px;

  @media (min-width: $tablet-width) {
    margin-left: 72px;
  }
}

.companions-cart__icon {
  margin-left: 10px;
  opacity: 0.15;

  &--true {
    opacity: 1;
  }
}
