.companions {
  position: relative;

  &::after {
    content: "";
    background-color: $text-blue;
    position: absolute;
    top: -30px;
    left: 0px;
    right: 0px;
    bottom: -31px;
    border-radius: 0 0 30px 30px;
    z-index: -3;
  }
}

.companions__page-container {
  padding-top: 46px;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    background-image: 
      url(../../img/smolov-back-desktop@1x.png),
      url(../../img/rogovaya-back-mobile@1x.png);
    background-repeat: no-repeat;
    background-position:
     127px 69px,
     -34px 341px;
  }
}

.companions__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  padding-left: 24px;
}

.companions__items {
  display: block;
  width: 240px;
  padding-left: 24px;
  margin-bottom: 55px;
}

.companions__item:not(:last-child) {
  margin-bottom: 21px;
}

.companions__item {

  &--1 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
  }
  &--2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
  }
}

.companions-cart {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.companions-cart:not(:last-child) {
  margin-bottom: 9px;
}

.companions-cart__img {
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: -1;
}

.companions-cart__level {
  position: absolute;
  margin: 0;
  top: 17px;
  left: 17px;

  &--99 {
    background-image: url("../../img/Subtract99.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
  }

  &--80 {
    background-image: url("../../img/Subtract80.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $basic-black;
    opacity: .3;
  }
}

.companions-cart__num {
  position: absolute;
  top: 13px;
  left: 17px;
  z-index: 1;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-white;
}

.companions-cart__text {
  position: absolute;
  top: 38px;
  left: 17px;
  z-index: 1;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background-color: $basic-white;
    opacity: .3;
    top: -2px;
    left: -2px; 
  }
}

.companions-cart__block {
  margin-top: -4px;
  width: 270px;
  min-height: 158px;
  background-color: $basic-white;
  border-radius: 0 0 10px 10px;
}

.companions-cart__flag {
  padding: 0;
  margin: 0;
}

.companions-cart__name {
  display: block;
  width: 132px;
  margin: 0 auto;
  padding-top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: $basic-blue-light;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 34px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $offline;
  }

  &--online {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 34px;
      left: -7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $online;
    }
  }
}

.companions-cart__info {
  display: block;
  width: 270px;
  padding-left: 30px;
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $special-grey;
}

.companions-cart__icons {
  margin-left: 65px;
}

.companions-cart__icon {
  margin-left: 10px;
  opacity: .15;

  &--true {
    opacity: 1;
  }
}

.companions__button {
  position: relative;
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: $basic-blue-light;
  background-color: $basic-yellow;
  padding-left: 23.1px;
  padding-top: 22.48px;
  border-radius: 10px;
  min-height: 61px;

  &--btn {
    font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
  
  &::after {
    content: "";
    position: absolute;
    background-image: url(../../img/triangle-arrow-right.svg);
    background-repeat: no-repeat;
    right: 20px;
    top: 25px;
    width: 13px;
    height: 13px;
  }
  }
}