.companions {
  position: relative;
  background-color: $text-blue;
  border-radius: 0 0 30px 30px;
  padding-bottom: 31px;
  margin-bottom: -31px;
  z-index: 17;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
    bottom: -87px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 808px;
  }
}

.companions__page-container {
  padding-top: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 68px;
    left: 0;
    width: 113px;
    height: 132px;
    z-index: 17;
    background-color: $basic-blue-dark;
    border-radius: 0 20px 20px 0;

    @media (min-width: $tablet-width) {
      top: 128px;
      left: 40px;
      width: 212px;
      height: 212px;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 127px;
      left: 60px;
      width: 212px;
      height: 212px;
      border-radius: 20px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 17;
    background-image:
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    background-position:
      152px 69px,
      -12px 341px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/smolov-back-desktop@2x.png"),
        url("../img/rogovaya-back-mobile@2x.png");
      background-size: 143px auto, 71px auto;
    }

    @media (min-width: $tablet-width) {
      background-position:
        40px 483px,
        409px 137px;
      background-image:
        url("../img/smolov-back-desktop@1x.png"),
        url("../img/rogovaya-back-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/smolov-back-desktop@2x.png"),
          url("../img/rogovaya-back-mobile@2x.png");
        background-size: 143px auto, 285px auto;
      }
    }

    @media (min-width: $desktop-width) {
      background-position:
        547px 191px,
        189px 443px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 157px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 80px;
  }
}

.companions__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  padding-left: 24px;
  z-index: 18;

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    text-align: center;
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    padding-left: 33px;
    margin-bottom: 56px;
  }

  @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 69px;
    margin: 0;
    margin-top: 26px;
  }
}

.companions__items {
  display: block;
  width: 240px;
  padding-left: 24px;
  margin-bottom: 55px;
  position: relative;
  z-index: 18;

  & br {
    display: none;
  }

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    margin: 0 auto;
    width: auto;
  }

  @media (min-width: $tablet-width) {
    width: 461px;
    padding-left: 35px;
    margin-bottom: 61px;

    & br {
      display: inline;
    }
  }

  @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
    margin: 0 auto;
    width: 651px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2;
    width: 501px;
    padding-left: 70px;
  }
}

.companions__item:not(:last-child) {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.companions__item {
  &--1 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &--2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 24px;
    }
  }
}

.companions__button {
  position: relative;
  margin-top: 11px;
  display: block;
  text-decoration: none;
  color: $basic-blue-light;
  background-color: $basic-yellow;
  padding-left: 23.1px;
  padding-top: 22.48px;
  border-radius: 10px;
  min-height: 61px;
  z-index: 18;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba($basic-blue-light, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &--btn {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: $basic-blue-light;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      right: 20px;
      top: 25px;
      width: 13px;
      height: 13px;

      @media (min-width: $tablet-width) {
        right: 32px;
        top: 33px;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    margin-right: 36px;
    min-height: 80px;
    margin-top: 72px;
    border-radius: 20px;
    padding-left: 32.1px;
    padding-top: 25.48px;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 71px;
    margin-right: 150px;
    margin-top: -9px;
    margin-bottom: 9px;
  }
}
