.directions {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: -34px;
    background-color: $basic-white;
    z-index: -2;
    border-radius: 0 0 30px 30px;
  }
}

.directions__page-container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 62px;
  }
}

.directions__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
  padding-top: 49px;
  padding-left: 26px;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.directions__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  display: block;
  padding-left: 25px;
  width: 220px;
  margin-bottom: 46px;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.directions__button {
  position: relative;
  display: block;
  text-decoration: none;
  color: $basic-blue-light;
  background-color: $basic-yellow;
  padding-left: 23.1px;
  padding-top: 22.48px;
  border-radius: 10px;
  min-height: 62px;

  &--btn {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: $basic-blue-light;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      right: 20px;
      top: 25px;
      width: 13px;
      height: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
