.filter {
  background-color: $bg-grey;
  margin-bottom: -60px;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.filter__wrap {
  position: absolute;
  top: 176px;
  left: 0;
  width: 100%;
  background-color: $bg-grey;
  padding-top: 49px;
  padding-bottom: 16px;
  padding-left: 25px;
  margin-top: -60px;
  border-radius: 0 0 20px 20px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
    top: 348px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    padding-bottom: 59px;
    margin-bottom: 20px;
    background-color: transparent;
  }

  &--active {
    border-radius: 0;
  }
}

.filter__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-blue;
  margin: 0;
  padding-left: 27px;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 10px;
    background-image: url("../img/filter.svg");
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      width: 23px;
      height: 15px;
      top: 2px;
      left: -5px;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin-top: 70px;
    padding-left: 40px;
  }
}

.filter__title-add {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.filter__close-btn-bottom {
  display: none;
  position: relative;
  bottom: -271px;
  left: 46%;
  transform: translateX(-50%);
  border: none;
  background-color: $bg-button;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $text-blue;
  z-index: 2;
  width: 270px;
  min-height: 39px;
  border-radius: 20px;
  padding-left: 31px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    bottom: 59px;
    left: 48%;
    width: 615px;
    min-height: 100px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 51px;
    letter-spacing: 0.004em;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    left: 49%;
    bottom: -53px;
    padding-left: 42px;
  }
}

.filter__close-btn {
  position: absolute;
  top: 49px;
  right: 26px;
  width: 20px;
  height: 20px;
  border: none;
  color: $text-blue;
  background-color: transparent;

  &--open {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      background-color: $text-blue;
      border-radius: 50%;
      box-shadow: 7px 0 0 0 $text-blue, 14px 0 0 0 $text-blue;

      @media (min-width: $tablet-width) {
        width: 6px;
        height: 6px;
        top: 60%;
        left: 161px;
        box-shadow: 12px 0 0 0 $text-blue, 24px 0 0 0 $text-blue;
      }
    }

    &::before {
      content: none;
    }
  }


  &--close {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%) rotate(43deg);
      width: 25px;
      height: 2px;
      border-radius: 2px;
      background-color: $text-blue;
    }


    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%) rotate(-43deg);
      width: 25px;
      height: 2px;
      border-radius: 2px;
      background-color: $text-blue;
    }
  }

  @media (min-width: $tablet-width) {
    top: 116px;
    right: 63px;
    width: 201px;
    text-align: start;
    height: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 114px;
    right: 52px;
    z-index: 3;
  }
}

.filter__close-btn-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    &--close {
      padding-left: 10px;
    }

    &--active {
      display: inline;
    }
  }
}

.filter__parts {
  padding-top: 33px;
  padding-left: 25px;
  background-color: $bg-grey;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 392px;
    margin-top: 39px;
    margin-left: 23px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 47px;
    left: 295px;
    width: 392px;
    background-color: transparent;
  }
}

.filter__part {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-blue;
  opacity: 0.3;
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
  }

  &--active {
    opacity: 1;
  }
}

.filter__alphabet {
  position: relative;
  width: 100%;
  display: none;
  background-color: $bg-grey;
  min-height: 227px;
  z-index: 2;

  &--active {
    display: block;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 535px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    flex-wrap: wrap;
    padding-left: 4px;
    background-color: transparent;
  }
}

.filter__letter {
  position: absolute;
  border: 1px solid $day-border;
  background-color: $basic-white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue-light;
  width: 45px;
  height: 42px;


  &--active {
    background-color: $basic-blue-light;
    color: $basic-white;
  }

  &--1 {
    top: 9px;
    left: 25px;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 41px;
    }
  }

  &--2 {
    top: 9px;
    left: 69px;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 120px;
    }
  }

  &--3 {
    top: 9px;
    left: 113px;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 195px;
    }
  }

  &--4 {
    top: 9px;
    left: 155px;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 276px;
    }
  }

  &--5 {
    top: 9px;
    left: 199px;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 350px;
    }
  }

  &--6 {
    top: 50px;
    left: 25px;

    @media (min-width: $tablet-width) {
      top: 101px;
      left: 41px;
    }
  }

  &--7 {
    top: 50px;
    left: 69px;

    @media (min-width: $tablet-width) {
      top: 101px;
      left: 120px;
    }
  }

  &--8 {
    top: 50px;
    left: 113px;

    @media (min-width: $tablet-width) {
      top: 101px;
      left: 195px;
    }
  }

  &--9 {
    top: 50px;
    left: 155px;

    @media (min-width: $tablet-width) {
      top: 101px;
      left: 276px;
    }
  }

  &--10 {
    top: 50px;
    left: 199px;

    @media (min-width: $tablet-width) {
      top: 101px;
      left: 350px;
    }
  }

  &--11 {
    top: 91px;
    left: 25px;

    @media (min-width: $tablet-width) {
      top: 181px;
      left: 41px;
    }
  }

  &--12 {
    top: 91px;
    left: 69px;

    @media (min-width: $tablet-width) {
      top: 181px;
      left: 120px;
    }
  }

  &--13 {
    top: 91px;
    left: 113px;

    @media (min-width: $tablet-width) {
      top: 181px;
      left: 195px;
    }
  }

  &--14 {
    top: 91px;
    left: 155px;

    @media (min-width: $tablet-width) {
      top: 181px;
      left: 276px;
    }
  }

  &--15 {
    top: 91px;
    left: 199px;

    @media (min-width: $tablet-width) {
      top: 181px;
      left: 350px;
    }
  }

  &--16 {
    top: 132px;
    left: 25px;

    @media (min-width: $tablet-width) {
      top: 263px;
      left: 41px;
    }
  }

  &--17 {
    top: 132px;
    left: 69px;

    @media (min-width: $tablet-width) {
      top: 263px;
      left: 120px;
    }
  }

  &--18 {
    top: 132px;
    left: 113px;

    @media (min-width: $tablet-width) {
      top: 263px;
      left: 195px;
    }
  }

  &--19 {
    top: 132px;
    left: 155px;

    @media (min-width: $tablet-width) {
      top: 263px;
      left: 276px;
    }
  }

  &--20 {
    top: 132px;
    left: 199px;

    @media (min-width: $tablet-width) {
      top: 263px;
      left: 350px;
    }
  }

  &--21 {
    top: 173px;
    left: 25px;

    @media (min-width: $tablet-width) {
      top: 350px;
      left: 41px;
    }
  }

  &--22 {
    top: 173px;
    left: 69px;

    @media (min-width: $tablet-width) {
      top: 350px;
      left: 120px;
    }
  }

  &--23 {
    top: 173px;
    left: 113px;

    @media (min-width: $tablet-width) {
      top: 350px;
      left: 195px;
    }
  }

  &--24 {
    top: 173px;
    left: 155px;

    @media (min-width: $tablet-width) {
      top: 350px;
      left: 276px;
    }
  }

  &--25 {
    top: 173px;
    left: 199px;

    @media (min-width: $tablet-width) {
      top: 350px;
      left: 350px;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    background-color: transparent;
    opacity: 0.3;
    font-size: 60px;
    line-height: 60px;
    width: 50px;
    height: 70px;

    &--active {
      color: $basic-blue-light;
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
    position: static;
    display: inline-block;
  }
}

.filter__states-wrap {
  display: none;
  position: absolute;
  top: 227px;
  left: 0;
  padding-left: 27px;
  background-color: $bg-grey;
  width: 100%;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    top: 14px;
    left: 466px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: static;
    padding-left: 6px;
    margin-top: 27px;
    background-color: transparent;
  }
}

.filter__states {
  @media (min-width: $desktop-width) {
    margin-right: 50px;
    width: 200px;
    margin-bottom: 45px;
  }
}

.filter__state {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
