.filter-people__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $basic-blue-light;
}

.filter-people__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: none;
}

.filter-people__music-label {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $basic-black;
}

.filter-people__btn-send {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: none;
}
