.filter-people {
  background-color: $basic-yellow;
  border-radius: 20px;
  padding: 24px 20px 22px 20px;

  @media (max-width: $mobile-only) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    padding: 24px 36px 22px 35px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    padding: 24px 43px 22px 49px;
  }
}

.filter-people__container {
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.filter-people__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $basic-blue-light;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    letter-spacing: 0.001em;
    margin-bottom: 66px;

    &::after {
      content: "";
      position: absolute;
      bottom: -41px;
      left: 10px;
      right: 10px;
      height: 1px;
      display: block;
      background-color: $filter-yellow;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
    letter-spacing: 0.001em;
    margin-bottom: 35px;

    &::after {
      content: none;
    }
  }
}

.filter-people__item {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $filter-yellow;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 126px 1fr;
    margin-bottom: 6px;

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;

    &::before {
      content: none;
    }
  }

  &--4 {
    margin-bottom: 10px;

    .filter-people__btn {
      margin-top: 8px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--5 {
    .filter-people__btn {
      margin-top: 11px;
    }
  }
}

.filter-people__btn {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 12px 0;
  display: block;
  width: 100%;
  text-align: start;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 6px;
    transform: translateY(-50%);
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
  }

  &--active {
    &::after {
      content: "";
      transform: rotate(180deg);
      top: 3px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 21px 0;

    &::after {
      content: "";
    }
  }
}

.filter-people__music-label {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $basic-black;
}

.filter-people__btn-send {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: none;
  width: 100%;
  background-color: $basic-white;
  border-radius: 25px;
  height: 41px;

  &:hover {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.14));
  }

  &:active {
    filter: none;
    background-color: $filter-yellow;
    color: rgba($basic-blue-light, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    height: 50px;
    margin-top: 66px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      content: "";
      position: absolute;
      top: -37px;
      left: 17px;
      right: 17px;
      height: 1px;
      display: block;
      background-color: $filter-yellow;
    }
  }

  @media (min-width: $desktop-width) {
    height: 49px;
    margin-top: 66px;
    margin-bottom: 26px;

    &::after {
      content: none;
    }
  }
}

.filter-people__wrap {
  display: none;

  &--active {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;

    &--active {
      display: grid;
      grid-template-rows: 32px;
      grid-template-columns: 1fr;
      margin-top: 33px;
    }
  }
}

.filter-people__control {
  display: none;
}

.filter-people__label {
  position: relative;
  padding-left: 27px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $basic-white;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
      top: -2px;
    }
  }

  &::before {
    content: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-image: url("../img/tick.svg");
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 11px;
      height: 12px;
      top: 4px;
      left: 7px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    min-width: 170px;
    align-self: center;
    padding-left: 36px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 11px;
    }
  }
}

.filter-people__control:checked + .filter-people__label {
  &::before {
    content: "";
  }
}

.filter-people__transport-container {
  width: max-content;
  height: max-content;
  margin-bottom: 1px;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.filter-people__transport-label {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: -4px;
  margin-top: 4px;
  margin-bottom: 5px;

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));

    .tooltip {
      display: block;
    }
  }

  &:active {
    filter: none;

    &::after {
      background-color: $active-transport;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-white;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 44px;
      height: 44px;
    }
  }

  @media (min-width: $tablet-width) {
    left: -5px;
    width: 44px;
    height: 44px;
    margin-right: -6px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    left: -2px;
    margin-top: -2px;
  }
}

.filter-people__transport-control {
  position: relative;
  margin-right: 17px;
  display: none;
}

.filter-people__svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 16px;
  height: 16px;

  & path {
    fill: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}

.filter-people__svg-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  opacity: 0.15;
  z-index: 1;
}

.filter-people__transport-control:not(:checked) + .filter-people__svg-wrap {
  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}

.filter-people__transport-control:checked + .filter-people__svg-wrap {
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter-people__level-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 35px;
  border: 1px solid $day-border;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1px;
    height: 100%;
    background-color: $day-border;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 11px;
    background-color: $day-border;
    border-top: 5px solid $basic-white;
    border-bottom: 5px solid $basic-white;
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: 30%;
      height: 17px;
      border-top: 8px solid $basic-white;
      border-bottom: 8px solid $basic-white;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    width: 148px;
    height: 46px;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 193px;
  }
}

.filter-people__range {
  margin-top: 24px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 82%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
    margin-bottom: -22px;
    width: 94%;
  }
}

.filter-people__lane {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba($basic-blue-light, 0.2);
}

.filter-people__lane2 {
  position: relative;
  height: 2px;
  background-color: $basic-blue-light;
}

.filter-people__circle {
  position: absolute;
  top: -4px;
  transform: translateX(-100%);
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $basic-blue-light;
  cursor: pointer;

  &:hover {
    top: -8px;
    transform: translateX(-85%);
    width: 19px;
    height: 19px;
  }

  &:active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;
    top: -5px;
  }
}

.filter-people__level-control {
  position: relative;
  text-align: center;
  width: 100%;
  border: none;

  &:hover {
    border: 1px solid $hover-people;
  }

  &:focus {
    border: 1px solid $basic-blue;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}
