.form-setting {
  background-color: $special-bg-grey;
  margin-top: -40px;
  padding-top: 64px;
  margin-bottom: -52px;

  @media (min-width: $tablet-width) {
    padding-top: 105px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-top: -190px;
  }
}

.form-setting__page-container {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 73px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 58px;
  }
}

.form-setting__about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: max-content 1fr max-content;
  }
}

.form-setting__level {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-image: url("../img/Subtract80-form.svg");
  background-repeat: no-repeat;
  justify-self: center;
  z-index: 21;

  @media (min-width: $tablet-width) {
    margin-left: 31px;
    background-position: 4px 0;
    background-size: 95px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    height: 110px;
    margin-right: -127px;
    background-position: 3px 2px;
    background-size: 95px;
  }
}

.form-setting__level-num {
  position: absolute;
  top: 16px;
  left: 29px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    top: 18px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
    top: 22px;
  }
}

.form-setting__level-text {
  position: absolute;
  top: 42px;
  left: 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $special-grey;

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -8px;
    height: 2px;
    width: 50px;
    background-color: $special-grey;
    opacity: 0.3;
    z-index: 1;

    @media (min-width: $desktop-width) {
      background-color: $basic-white;
      top: -6px;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
    top: 47px;
  }
}

.form-setting__photo {
  border-radius: 50%;
  justify-self: center;
  z-index: 21;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    border-radius: 5px;
    width: 94px;
    height: 94px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    border-radius: 10px 10px 0 0;
    margin-right: -73px;
  }
}

.form-setting__photo-btn {
  display: block;
  border-radius: 20px;
  padding: 12.5px;
  width: 100%;
  background-color: $special-blue-light;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 21px;
    width: 615px;
    margin-top: 46px;
    margin-left: 37px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.09em;
  }

  @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
    width: auto;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    border-radius: 0 0 10px 10px;
    width: 190px;
    justify-self: center;
    margin-top: 0;
    padding: 13px;
    margin-left: 74px;
    margin-bottom: 29px;
  }
}

.form-setting__photo-file {
  display: none;
}

.form-setting__photo-span {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-setting__tags {
  position: relative;
  border: 1px solid $day-border;
  border-radius: 10px;
  grid-column: 1 / -1;
  height: 89px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-right: 70px;
    margin-top: 1px;
    margin-left: 64px;
  }
}

.form-setting__tags-title {
  position: absolute;
  top: -22px;
  left: 50%;
  background-color: $special-bg-grey;
  padding: 0 20px;
  transform: translateX(-50%);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    top: 64px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    left: 62px;
  }
}

.form-setting__tags-textarea {
  padding: 26px 25px;
  resize: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-grey;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    padding: 34px 39px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #444444;
    opacity: 0.6;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
      color: #444444;
      opacity: 0.6;
    }
  }
}

.form-setting__transport {
  position: relative;
  border: 1px solid $day-border;
  border-radius: 10px;
  grid-column: 1 / -1;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 57px;
    margin-right: 63px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 34px;
    margin-left: 70px;
    margin-right: 0;
    width: 384px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

.form-setting__transport-container {
  width: max-content;
  height: max-content;
  margin: 14px auto;

  @media (min-width: $tablet-width) {
    margin: 23px auto;
    display: grid;
    grid-template-columns: 44px 44px 44px 44px;
  }

  @media (min-width: $desktop-width) {
    margin: 25px auto;
  }
}

.form-setting__transport-label {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-white;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 44px;
      height: 44px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 44px;
  }
}

.form-setting__transport-title {
  position: absolute;
  top: -22px;
  left: 50%;
  background-color: $special-bg-grey;
  padding: 0 20px;
  transform: translateX(-50%);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    top: 64px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }
}

.from-setting__svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 16px;
  height: 16px;
  opacity: 0.15;

  & path {
    fill: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    left: 55%;
  }
}

.form-setting__transport-control {
  position: relative;
  margin-right: 17px;
  display: none;
}

.form-setting__transport-control:checked + .from-setting__svg {
  opacity: 1;
}

.form-setting__plans {
  margin-top: 30px;
  margin-bottom: -30px;
  background-color: $special-blue-light;
  border-radius: 30px 30px 0 0;
  padding-top: 27px;
  padding-bottom: 62px;

  @media (min-width: $tablet-width) {
    padding-bottom: 107px;
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    border-radius: 60px 60px 0 0;
    padding-bottom: 96px;
  }
}

.form-setting__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-left: 34px;
    margin-top: 25px;
    margin-bottom: 51px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 71px;
  }
}

.form-setting__plans-cart {
  background-color: $basic-white;
  border-radius: 10px;
  padding: 23px;
  display: grid;
  grid-template-columns: max-content 1fr;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    margin-right: 35px;
    min-height: 152px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 17px;
  }

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content 1fr 250px 343px max-content;
    margin-left: 64px;
    margin-right: -2px;
    min-height: 97px;
    padding-bottom: 24px;
    padding-left: 42px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.form-setting__plans-number {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $basic-blue-light;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    justify-self: end;
    font-size: 20px;
    line-height: 20px;
    align-self: center;
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1;
  }
}

.form-setting__plans-countries {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $basic-blue-light;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 6px;
  grid-column: 2 / 3;
  grid-row: 1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    justify-self: start;
    font-size: 24px;
    line-height: 24px;
    margin-left: 13px;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 0;
    align-self: center;
    margin-left: 29px;
  }
}

.form-setting__plans-companions {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $basic-blue-light;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 2px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2;
    font-size: 20px;
    line-height: 20px;
    margin-top: 33px;
    margin-left: 10px;
    margin-bottom: 0;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1;
    margin-top: 16px;
    margin-left: 109px;
    text-align: start;
  }
}

.form-setting__plans-date {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $basic-blue-light;
  margin: 0;
  margin-left: 2px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.06em;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1;
    align-self: center;
    margin-left: 37px;
    margin-right: 110px;
  }
}

.form-setting__plans-btn {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $basic-black;
  margin-top: 24px;
  opacity: 0.3;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    grid-column: 3 / 4;
    grid-row: 2;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    align-self: flex-end;
    text-align: end;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5 / 6;
    grid-row: 1;
    align-self: center;
    margin-right: 18px;
  }
}

.form-setting__create-plan {
  background-color: $bg-plan;
  padding-top: 28px;
  padding-bottom: 145px;
  border-radius: 30px 30px 0 0;

  @media (min-width: $desktop-width) {
    border-radius: 60px 60px 0 0;
  }
}

.form-setting__title-plan {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
  margin: 0;
  margin-bottom: -27px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 22px;
    margin-bottom: -57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
    margin-left: 72px;
    margin-bottom: -78px;
  }
}

.form-setting__points {
  position: absolute;
  top: 9px;
  right: 42px;
  display: flex;
  justify-content: space-between;
  width: 49px;
  height: 6px;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: 15px;
    right: 73px;
    width: 76px;
  }

  &--desktop {
    display: none;
    position: absolute;
    top: 231px;
    right: 207px;
    width: 181px;
    min-height: 132px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;

    .form-setting__point {
      position: absolute;
      top: 11px;
      left: 0;
      opacity: 1;
    }

    @media (min-width: $desktop-width) {
      display: grid;
    }
  }
}

.form-setting__point-text {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.11em;
  color: $basic-black;
  text-transform: uppercase;
  padding-left: 42px;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.form-setting__point {
  display: block;
  background-color: $basic-blue-light;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.form-setting__field {
  background-color: $basic-white;
  border: none;
  border-radius: 10px;
  padding-bottom: 23px;
  margin-bottom: -50px;

  @media (min-width: $tablet-width) {
    border-radius: 30px;
    padding-left: 33px;
    padding-right: 32px;
    padding-bottom: 56px;
    margin-bottom: -77px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 106px;
    margin-bottom: -92px;
    border-radius: 60px;
  }

  &--2 {
    padding-bottom: 11px;

    @media (min-width: $tablet-width) {
      min-height: 901px;
      margin-bottom: -65px;
    }

    @media (min-width: $desktop-width) {
      min-height: 1037px;
      margin-bottom: -93px;
    }
  }

  &--3 {
    padding-bottom: 11px;

    @media (min-width: $tablet-width) {
      min-height: 1038px;
      margin-bottom: -30px;
    }

    @media (min-width: $desktop-width) {
      min-height: 1201px;
      margin-bottom: -21px;
    }
  }
}

.form-setting__legend {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  width: 100px;
  padding-top: 80px;
  padding-left: inherit;

  &--2 {
    padding-top: 81px;
    width: 100px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 160px;
    padding-left: 9px;
  }

  @media (min-width: $desktop-width) {
    & br {
      display: none;
    }
    width: 100%;
    padding-left: 125px;
    padding-top: 237px;
  }
}

.form-setting__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  width: 224px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;

  & br {
    display: none;
  }

  &--2 {
    margin-bottom: 22px;
  }

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    width: auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 11px;
    width: 510px;
    margin-bottom: 65px;

    &--2 {
      width: 415px;
      margin-bottom: 78px;
    }
  }

  @media (min-width: $desktop-width) {
    & br {
      display: inline;
    }

    margin-left: 126px;
    width: 583px;
    margin-top: 26px;


    &--2 {
      width: 406px;
      margin-bottom: 117px;
    }
  }

  &--3 {
    @media (min-width: $desktop-width) {
      width: 521px;
    }
  }
}

.from-setting__countries-wrap {
  position: relative;
  width: 100%;

  & div {
    position: relative;

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        right: 89px;
        transform: translateY(-50%);
        background-color: $basic-white;
        border: 1px solid $day-border;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        z-index: 2;

        @media (min-width: $desktop-width) {
          right: 193px;
        }
      }
    }

    &:last-child {
      &::before {
        @media (min-width: $tablet-width) {
          background-color: $basic-white-dark;
        }
      }
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -43px;
      left: 10px;
      width: 97%;
      height: 1px;
      background-color: $basic-grey;
    }

    @media (min-width: $desktop-width) {
      top: -62px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -43px;
      right: 147px;
      height: 125%;
      width: 1px;
      background-image: linear-gradient(to bottom, $basic-grey 76%, #ffffff 100%);
    }

    @media (min-width: $desktop-width) {
      top: -62px;
      right: 246px;
      height: 177%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 116px;
    width: auto;
    margin-right: 107px;
  }
}

.form-setting__time-people {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-left: 11px;
  margin-right: 11px;

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content 1fr 1fr max-content;
    margin-left: 127px;
    margin-right: 130px;
    margin-top: 86px;
    row-gap: 11px;
  }
}

.form-setting__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $basic-blue-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-self: center;
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-top: -6px;
  }
}

.form-setting__label-span-people {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-blue-light;
  opacity: 0.3;
  grid-column: 2 / 3;
  grid-row: 1;
  justify-self: end;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    font-size: 20px;
    line-height: 18px;
    opacity: 1;
    margin-left: -27px;
  }
}

.form-setting__label-span-day {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-blue-light;
  opacity: 0.3;
  grid-column: 2 / 3;
  grid-row: 3;
  justify-self: end;

  @media (min-width: $tablet-width) {
    grid-row: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 2;
    justify-self: start;
    align-self: center;
    font-size: 20px;
    line-height: 18px;
    opacity: 1;
    margin-left: -26px;
  }
}

.form-setting__control {
  padding-left: 43px;
  padding-right: 43px;
  border: 1px solid $day-border;
  border-radius: 4px;
  text-align: center;
  height: 43px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    height: 70px;
  }
}

.form-setting__container-control {
  position: relative;
  width: 100%;
  margin-bottom: 19px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -70px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 0;
    grid-column: 2 / 3;
    margin-left: 55px;
    margin-right: 61px;
    width: auto;

    &::after {
      content: none;
    }

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.form-setting__deduct {
  position: absolute;
  top: 0;
  left: 0;
  padding: 21px 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    background-color: $basic-grey-dark;

    @media (min-width: $tablet-width) {
      width: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 34px 23px;
  }
}

.form-setting__add {
  position: absolute;
  top: 0;
  right: 0;
  padding: 21px 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    background-color: $basic-grey-dark;

    @media (min-width: $tablet-width) {
      width: 20px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 2px;
    background-color: $basic-grey-dark;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      width: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 34px 20px;
  }
}

.form-setting__label-checkbox {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: $basic-blue-light;
  margin-left: 39px;
  margin-top: 8px;
  grid-column: 1;

  @media (min-width: $tablet-width) {
    grid-row: 3;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-left: 61px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 4;
    justify-self: end;
    font-weight: 500;
    margin-bottom: 31px;
    margin-top: 24px;
    margin-right: -4px;
    margin-left: 58px;
  }
}

.form-setting__control-checked {
  position: absolute;
  top: -7px;
  left: -39px;
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid $day-border;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
    left: -61px;
  }
}

.form-setting__control-checkbox {
  display: none;
}

.form-setting__control-checkbox:checked + .form-setting__control-checked {
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 11px;
      height: 11px;
    }
  }
}

.form-setting__calendar {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 38px;
  width: 222px;

  & td {
    padding: 0;
  }

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    width: 528px;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
    margin-top: 56px;
    margin-left: 128px;
  }
}

.form-setting__mounth-age {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  margin-bottom: 25px;

  &::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $special-grey-dark;

    @media (min-width: $tablet-width) {
      top: -26px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $special-grey-dark;

    @media (min-width: $tablet-width) {
      bottom: -26px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.form-setting__arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 18px;
  opacity: 0.3;
  cursor: pointer;

  & path {
    fill: $basic-black;
  }

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 34px;
    top: 2px;
    left: 16px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}

.form-setting__arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 18px;
  opacity: 0.3;
  cursor: pointer;

  & path {
    fill: $basic-black;
  }

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 34px;
    top: 2px;
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 6px;
  }
}

.form-setting__week-day {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
  height: 34px;

  &--output {
    color: $output;
  }

  .day-abb {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    height: 58px;
    padding-left: 15px;
  }
}

.form-setting__day {
  position: relative;
  background-color: $basic-white-dark;
  border: 1px solid $day-border;
  color: $basic-blue-light;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  height: 31px;
  width: 30px;

  &--off {
    background-color: $basic-white-dark;
    border: 1px solid $day-border;
    color: $special-grey;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 69px;
    width: 76px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding-left: 14px;
    height: 71px;
    width: 142px;
    display: flex;
    flex-wrap: wrap;
  }
}

.from-setting__day--on {
  background-color: $basic-blue-light;
  color: $basic-white;
}

.form-setting__day-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 11px;
  }
}

.from-setting__day-today,
.from-setting__day-then {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    display: inline-block;
    text-align: start;
    padding-top: 7px;
    margin-bottom: 11px;
    margin-left: -19px;
    align-self: flex-end;
  }
}

.form-setting__day-mounth {
  display: none;
  position: absolute;
  top: 12px;
  left: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.04em;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.form-setting__countries {
  position: relative;
  display: grid;
  grid-template-columns: 167px 53px;
  margin-right: 11px;
  margin-bottom: 22px;
  margin-left: 11px;

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    right: 49px;
    height: 11px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 5 10' style='enable-background:new 0 0 5 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23606161;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='3,8.1 3,0 2,0 2,8.1 0,6.1 0,7.5 2.5,10 5,7.5 5,6.1 '/%3E%3C/svg%3E%0A");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    grid-template-columns: 1fr 53px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 16px;
    width: auto;
    margin-right: 52px;
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 94.5%;
  }
}

.form-setting__country {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: 1px solid $day-border;
  border-radius: 4px;
  background-color: transparent;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 11px;
  width: 100%;
  height: 42px;
  white-space: nowrap;
  text-align: start;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 52px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 5%, #ffffff 40%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 56%;
    right: 14px;
    transform: translateY(-50%);
    height: 12px;
    width: 16px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 9' style='enable-background:new 0 0 17 9;' xml:space='preserve'%3E%3Cpath d='M8.5,7.2l-7.2-7C1-0.1,0.5-0.1,0.2,0.2c-0.3,0.3-0.3,0.8,0,1L8,8.8c0.3,0.3,0.8,0.3,1.1,0l7.7-7.5C16.9,1.1,17,0.9,17,0.7 s-0.1-0.4-0.2-0.5c-0.3-0.3-0.8-0.3-1.1,0L8.5,7.2z'/%3E%3C/svg%3E");
    z-index: 1;

    @media (min-width: $tablet-width) {
      right: 27px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 70px;
    width: 75%;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding-left: 23px;
  }
}

.form-setting__country-flag {
  display: block;
  position: relative;
  width: 100%;
  height: 42px;
  border: 1px solid $day-border;
  background-color: $basic-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    border: none;
    height: 53px;
    right: -10%;
    top: 9px;
    width: 15%;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 48%;
      right: 89px;
      transform: translateY(-50%);
      background-color: $basic-blue-light;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      z-index: 2;
    }

    @media (min-width: $desktop-width) {
      top: 47%;
      right: 195px;
    }
  }
}

.form-setting__choice-countries {
  position: relative;
  margin-bottom: 22px;
  margin-left: 11px;
  margin-right: 11px;

  @media (min-width: $tablet-width) {
    margin-right: 52px;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 94.5%;
    margin-right: 0;
  }
}

.form-setting__choice-text {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: 1px solid $day-border;
  border-radius: 4px;
  background-color: transparent;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 100%;
  text-align: start;

  &::before {
    content: "";
    position: absolute;
    top: 56%;
    right: 14px;
    transform: translateY(-50%);
    height: 12px;
    width: 16px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 9' style='enable-background:new 0 0 17 9;' xml:space='preserve'%3E%3Cpath d='M8.5,7.2l-7.2-7C1-0.1,0.5-0.1,0.2,0.2c-0.3,0.3-0.3,0.8,0,1L8,8.8c0.3,0.3,0.8,0.3,1.1,0l7.7-7.5C16.9,1.1,17,0.9,17,0.7 s-0.1-0.4-0.2-0.5c-0.3-0.3-0.8-0.3-1.1,0L8.5,7.2z'/%3E%3C/svg%3E");
    z-index: 1;

    @media (min-width: $tablet-width) {
      right: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 75%;
    height: 69px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding-left: 24px;
  }
}

.form-setting__del {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  border: none;
  background-color: $basic-white-dark;
  border-radius: 50%;
  transform: translate(50%, -50%);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: $close-grey;
    height: 1px;
    width: 11px;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 2px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: $close-grey;
    height: 1px;
    width: 11px;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 24px;
    height: 24px;
    top: 50%;
    right: -34px;
  }

  @media (min-width: $desktop-width) {
    right: -10px;
  }
}

.form-setting__chice-countries-wrap {
  display: none;
}

.form-setting__add-countries {
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-right: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 94.5%;
    margin-right: 0;
  }
}

.form-setting__add-country {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-blue-light;
  border: none;
}

.form-setting__letter {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue-light;
  background-color: $basic-white;
  border: 1px solid $day-border;
}

.form-setting__state {
  border: none;
  background-color: $basic-white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
}

.form-setting__add-text {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $basic-blue-light;
  border: none;
  border-radius: 4px;
  background-color: $basic-white-dark;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 100%;
  text-align: start;

  &::after {
    content: "";
    position: absolute;
    top: 48%;
    right: 14px;
    height: 2px;
    width: 14px;
    background-color: $plus-grey;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      width: 20px;
      right: 26px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    height: 2px;
    width: 14px;
    background-color: $plus-grey;

    @media (min-width: $tablet-width) {
      width: 20px;
      right: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 75%;
    height: 70px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.09em;
    padding-left: 25px;
  }
}

.form-setting__btn-wrap {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 238px 238px;
    justify-content: space-between;
    column-gap: 20px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 412px 343px;
    column-gap: 500px;
  }
}

.form-setting__next {
  display: block;
  background-color: $basic-yellow;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  border: none;
  align-self: center;

  &--btn {
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: $basic-blue-light;
    padding: 5px;
    margin-top: 22px;
    margin-left: 7px;
    width: 229px;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 33px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background-image: url("../img/triangle-arrow-right.svg");
        background-repeat: no-repeat;
      }
    }
  }

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding: 27px 48px 29px 7px;
    margin-top: 47px;
    margin-left: 11px;
    width: 284px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    margin-left: 128px;
  }

  &--step2 {
    position: relative;

    @media (min-width: $tablet-width) {
      margin-top: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 30px;
    }
  }

  &--step3 {
    position: relative;

    @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
      margin: 0 auto;
    }

    @media (min-width: $tablet-width) {
      margin-top: 23px;
      text-align: start;
      padding-left: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 32px;
    }
  }
}

.form-setting__back {
  &--btn {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $basic-blue-light;
    text-align: center;
    align-self: center;
    margin-top: 11px;

    @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
      width: 238px;
      padding: 27px 0 29px 75px;
      height: 80px;
    }

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &--step2 {
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 22px;
      text-transform: none;
      padding-left: 74px;
      margin-top: 21px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        left: 49px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background-image: url("../img/triangle-arrow-left.svg");
        background-repeat: no-repeat;
      }

      @media (min-width: $desktop-width) {
        left: 33px;
      }
    }

    @media (min-width: $desktop-width) {
      text-align: start;
      padding-left: 67px;
      margin-top: 25px;
    }
  }

  &--step3 {
    position: relative;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 22px;
      text-transform: none;
      padding-left: 74px;
      margin-top: 21px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        left: 49px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background-image: url("../img/triangle-arrow-left.svg");
        background-repeat: no-repeat;
      }

      @media (min-width: $desktop-width) {
        left: 33px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 66px;
      text-align: start;
      margin-top: 31px;
    }
  }
}

.form-setting__action-plan-title {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
  margin-left: 21px;
  margin-top: 23px;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -13px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $basic-blue-light;

    @media (min-width: $tablet-width) {
      left: 96%;
      top: 11px;
      right: 347px;
      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 11px;
      right: 347px;
      left: auto;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -24px;
    height: 283px;
    border: 2px solid $basic-blue-ligh;
    border-right: 2px solid $basic-white;
    width: 13px;

    @media (min-width: $tablet-width) {
      border: none;
      width: 2px;
      top: 24px;
      height: 248px;
      left: 96%;
      right: auto;
      transform: translateX(288%);
      background-color: $basic-blue-light;
    }

    @media (min-width: $desktop-width) {
      right: 353px;
      left: auto;
      transform: translateX(0);
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
  }
}

.form-setting__action-plans:last-child {
  .form-setting__action-plan-title {
    &::before {
      content: none;
    }
  }
}

.form-setting__action-plan-flag {
  position: absolute;
  display: block;
  top: -3px;
  right: 11px;
  width: 36px;
  height: 26px;
  background-color: grey;
  border: none;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    right: 8%;
    top: -3px;
    width: 70px;
    height: 47px;
  }

  @media (min-width: $desktop-width) {
    right: 243px;
  }
}

.form-setting__action-plans {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    margin-top: 70px;

    &--2 {
      margin-top: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 125px;
    margin-top: 135px;

    &--2 {
      margin-top: 45px;
    }
  }
}

.form-setting__action-plan {
  position: relative;
  border: 1px solid $day-border;
  border-radius: 4px;
  resize: none;
  padding: 10px 14px;
  width: 220px;
  margin-left: 11px;
  height: 219px;

  &--2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $special-grey;
  }

  @media (min-width: $mobile-tablet-1) and (max-width: $mobile-tablet-2) {
    width: 90%;
  }

  @media (min-width: $tablet-width) {
    margin-left: 2px;
    margin-top: 40px;
    width: 92%;
    height: 142px;
    padding: 17px 19px 20px 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #444444;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      color: $special-grey;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    width: 64.5%;
    padding: 22px 19px 20px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #444444;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      color: $special-grey;
      opacity: 0.3;
    }
  }
}
