.header-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 28px;
  min-height: 568px;
  background-color: $basic-white;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 2;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    min-height: 910px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-menu__title {
  width: 193px;
  min-height: 105px;
  text-align: center;
  margin: 0 auto;
  margin-top: 64px;

  @media (min-width: $tablet-width) {
    width: 300px;
    text-align: start;
    margin: 0;
    margin-top: 130px;
    margin-left: 72px;
  }

  @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 389px;
  }
}

.header-menu__link {
  text-decoration: none;
  color: $text-blue;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }
}

.header-menu__auth {
  display: block;
  min-height: 50px;
  background-color: $basic-yellow;
  border-radius: 25px;
  text-align: center;
  margin-top: 54px;

  &--btn {
    text-decoration: none;
    color: $basic-blue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 9px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-menu__feedback {
  margin-top: 66px;
  margin-left: 61px;

  @media (min-width: $tablet-width) {
    margin-top: 155px;
    margin-left: 163px;
  }
}

.header-menu__item:not(:last-child) {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.header-menu__item {
  position: relative;


  &--tel {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $text-blue;

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 28px;
    }
  }

  &--mail {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text-blue;

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 28px;
    }
  }
}

.header-menu__item-svg {
  position: absolute;
  left: -16px - 45px;
  top: -15px;
  background-color: $icon-bg;
  padding: 14px 13.5px;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    left: -91px;
    top: -23px;
    padding: 23px 20.5px;
  }
}

.header-menu__svg {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 25px;
  }
}

.header-menu__svg-path {
  fill: $basic-yellow;
}

.header-menu__social-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  min-height: 21px;
  margin: 0 auto;
  margin-top: 53px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 146px;
    margin-left: 97px;
    width: 140px;
  }
}

.header-menu__social-contact {
  &--fb {
    background-image: url("../img/facebook.svg");
    display: block;
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 28px;
    }
  }

  &--vk {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 12px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 18px;
    }
  }

  &--inst {
    background-image: url("../img/instagram.svg");
    display: block;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }
  }

  &--active {
    opacity: 1;
  }
}
