.header-menu {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 28px;
  min-height: 568px;
  background-color: $basic-white;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 2;

  &--active {
    display: block;
    position: absolute;
  }

  &--jsnone {
    display: block;
    grid-column: 1 / -1;
    position: static;
  }

  &--scrollMenu {
    display: block;
    position: fixed;
    min-height: 73px;
    top: 0;
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    min-height: 132px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 200px 1fr 100px 188px;
    padding: 0;
    padding-left: 46px;
    padding-right: 60px;
    min-height: 90px;
  }

  &--none {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.header-menu__title {
  width: 193px;
  min-height: 105px;
  text-align: center;
  margin: 0 auto;
  margin-top: 64px;

  &--none {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    text-align: start;
    margin: 0;
    margin-top: 90px;
    margin-left: 72px;
  }

  @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 390px;
    margin: 0 0 0 159px;
    z-index: 2;
    min-height: 90px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -89px;
      width: 44px;
      height: 2px;
      background-color: $text-blue;
    }
  }
}

.header-menu__link {
  text-decoration: none;
  color: $text-blue;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.header-menu__auth {
  display: block;
  min-height: 50px;
  background-color: $basic-yellow;
  border-radius: 25px;
  text-align: center;
  margin-top: 54px;

  &--btn {
    text-decoration: none;
    color: $basic-blue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 9px;
  }

  &--none {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4;
    grid-row: 1;
    margin: 0;
    display: block;
    height: 50px;
    align-self: center;
  }
}

.header-menu__feedback {
  margin-top: 66px;
  margin-left: 61px;

  &--none {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 155px;
    margin-left: 163px;
  }

  @media (min-width: $desktop-width) {
    display: none;
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin: 0;
    align-self: center;
  }
}

.header-menu__item:not(:last-child) {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.header-menu__item {
  position: relative;


  &--tel {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $text-blue;

    .header-menu__item-svg {
      @media (min-width: $desktop-width) {
        background-color: $special-orange;
        top: 0;
        right: 50px;
        left: auto;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 28px;
    }
  }

  &--mail {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text-blue;

    .header-menu__item-svg {
      @media (min-width: $desktop-width) {
        background-color: $special-yellow-dark;
        top: 0;
        right: 0;
        left: auto;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 0;
  }
}

.header-menu__logo {
  & img {
    @media (min-width: $tablet-width) {
      margin-top: 17px;
      margin-left: 16px;
    }
  }
}

.header-menu__item-svg {
  position: absolute;
  left: -16px - 45px;
  top: -15px;
  background-color: $icon-bg;
  padding: 14px 13.5px;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    left: -91px;
    top: -23px;
    padding: 23px 20.5px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
    padding: 16px 17px;
  }
}

.header-menu__svg {
  fill: $basic-yellow;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 25px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-menu__item-svg-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.header-menu__social-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  min-height: 21px;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 40px;

  &--none {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 146px;
    margin-left: 97px;
    margin-bottom: 95px;
    width: 140px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-menu__social-contact {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--fb {
    background-image: url("../img/icon/facebook.svg");
    display: block;
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 28px;
    }
  }

  &--vk {
    background-image: url("../img/icon/vk.svg");
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 12px;

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 18px;
    }
  }

  &--inst {
    background-image: url("../img/icon/instagram.svg");
    display: block;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }
  }
}
