.head-feedback {
  display: none;
  grid-column: 3;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    height: 49px;
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }
}

.head-feedback__tel {
  background-color: $special-orange;
  width: 50px;
  min-height: 40px;
  border-radius: 50%;
  padding: 11px;

  &:hover {
    background-color: $hover-btn;
  }

  &:active {
    .head-feedback__svg {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 16px;
  }
}

.head-feedback__mail {
  display: block;
  background-color: $special-yellow-dark;
  width: 50px;
  min-height: 40px;
  border-radius: 50%;
  padding: 11px;

  &:hover {
    background-color: $special-orange;
  }

  &:active {
    .head-feedback__svg {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 16px;
  }
}

.head-feedback__auth {
  text-decoration: none;
  display: block;
  background-color: $basic-yellow;
  width: 188px;
  min-height: 40px;
  border-radius: 25px;
  padding: 10px 0;
  z-index: 3;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba($basic-blue, 0.3);
  }

  &--btn {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $basic-blue;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0;
  }
}

.head-feedback__svg {
  display: block;
  fill: $basic-blue;
}
