.header-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 28px;
  min-height: 568px;
  background-color: $basic-white;
}

.header-menu__title {
  width: 193px;
  min-height: 105px;
  text-align: center;
  margin-top: 74px;
}

.header-menu__link {
  text-decoration: none;
  color: $text-blue;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
}

.header-menu__auth {
  display: block;
  min-height: 50px;
  background-color: $basic-yellow;
  border-radius: 25px;
  text-align: center;
  margin-top: 51px;

  &--btn {
    text-decoration: none;
    color: $basic-blue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 9px;
  }
}

.header-menu__feedback {
  margin-top: 66px;
  margin-left: 86px;
}

.header-menu__item:not(:last-child) {
  margin-bottom: 27px;
}

.header-menu__item {
  position: relative;


  &--tel {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $text-blue;
  }

  &--mail {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text-blue;
  }
}

.header-menu__item-svg {
  position: absolute;
  left: -16px - 45px;
  top: -15px;
  background-color: $icon-bg;
  padding: 14px 13.5px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.header-menu__svg {
  width: 18px;
  height: 17px;
}

.header-menu__svg-path {
  fill: $basic-yellow;
}

.header-menu__social-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  min-height: 21px;
  margin: 0 auto;
}

.header-menu__social-contact {
  &--fb {
    background-image: url("../img/facebook.svg");
    display: block;
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &--vk {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 12px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &--inst {
    background-image: url("../img/instagram.svg");
    display: block;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &--active {
    opacity: 1;
  }
}
