.main-logo {
  text-decoration: none;
  font-size: 0;

  @media (min-width: $desktop-width) {
    margin-top: -6px;
  }
}

.main-logo__header-add {
  display: none;

  &--up {
    display: block;
    position: relative;
    z-index: 3;
  }
}
