.map-img {
  width: 100%;
  margin-bottom: -110px;

  @media (min-width: $tablet-width) {
    margin-bottom: -70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -66px;
  }
}

.map-img__pin {
  position: relative;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 581px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 584px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-image: url("../img/map-marker.svg");
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;

    @media (min-width: $tablet-width) {
      width: 56px;
      height: 56px;
      top: 45%;
      left: 50%;
    }

    @media (min-width: $desktop-width) {
      top: 51%;
      left: 50%;
    }
  }
}

.map-img__img {
  display: block;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 581px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 584px;
  }
}
