.page-footer {
  padding-top: 35px;
  background-color: $basic-white;
  border-radius: 30px 30px 0 0;
  position: relative;
  min-height: 239px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    border-radius: 60px 60px 0 0;
    min-height: 140px;
  }
}

.page-footer__page-container {
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content max-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.page-footer__main-logo {
  justify-self: center;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    justify-self: self-start;
    align-self: center;
  }
}

.page-footer__img {
  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-footer__contact-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $basic-yellow;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    .page-footer__social {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 61px;
  }
}

.page-footer__htmlacademy-wrap {
  text-decoration: none;
  align-self: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__htmlacademy-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 270px;
    height: 1px;
    background-color: $basic-grey-after;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-row-start: 1;
    font-size: 20px;
    line-height: 20px;
    align-self: center;
    margin-left: 75px;
  }

  @media (min-width: $tablet-desktop-1) and (max-width: $tablet-desktop-2) {
    text-align: end;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 285px;
  }
}

.page-footer__htmlacademy-img {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  position: absolute;
  bottom: -8px;
  right: 25px;

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-row-start: 1;
    bottom: 13px;
    right: 40px;
  }

  @media (min-width: $desktop-width) {
    right: 60px;
    bottom: 12px;
  }
}


.page-footer__social-contacts {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 58px;

  &--fb {
    background-image: url("../img/facebook.svg");
    display: block;
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &--vk {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 12px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &--inst {
    background-image: url("../img/instagram.svg");
    display: block;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &--active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
