.page-header {
  background-color: $promo-bg;
  border-radius: 0 0 20px 20px;
  position: relative;
  margin-bottom: -60px;
  z-index: 21;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    background-color: $text-blue;
  }

  &--index {
    border-radius: 0;
    background-color: $basic-blue;

    @media (min-width: $tablet-width) and (max-width: $tablet-desktop-2) {
      background-color: $promo-bg;
    }
  }
}

.page-header__container {
  position: relative;
  padding-top: 27px;
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
    grid-template-columns: 200px 1fr 288px;
  }
}

.page-header__toggle {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 18px;
  padding: 0;
  grid-column: 3;
  margin-left: auto;
  margin-bottom: 5px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    margin-bottom: -3px;
    height: 39px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--close {
    .page-header__line1 {
      transform: rotate(45deg);
      margin-bottom: -2px;
    }

    .page-header__line2 {
      transform: rotate(-45deg);
    }
  }
}

.page-header__line1 {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: $basic-white;
  margin-bottom: 5px;
}

.page-header__line2 {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: $basic-white;
}

//
// form.html
//

.page-header__title {
  position: relative;
  grid-row: 2 / 3;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  width: max-content;
  margin: 15px 0;
  margin-top: 42px;

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    background-color: $special-orange;
    border-radius: 4px;
    width: 100%;
    height: 5px;

    @media (min-width: $tablet-width) {
      bottom: -75px;
    }

    @media (min-width: $desktop-width) {
      bottom: -73px;
      height: 7px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 129px 0 72px 34px;
    font-size: 60px;
    line-height: 60px;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin: 122px 0 70px 65px;
  }
}

.page-header__back {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: $basic-white;
    text-transform: uppercase;
    text-decoration: none;
    grid-column: 3;
    grid-row: 2;
    margin-top: 67px;
    margin-right: 94px;
    text-align: end;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: -60px;
      width: 32px;
      height: 16px;
      background-image: url("../img/return.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-right: 123px;
  }
}
