.page__header {
  min-height: 73px;
  position: relative;
  z-index: 21;

  @media (min-width: $tablet-width) {
    min-height: 132px;
  }

  @media (min-width: $desktop-width) {
    min-height: 98px;
  }
}
