.promo {
  position: relative;
  z-index: 0;
  background-color: $basic-blue;
}

.promo__title {
  display: block;
  width: 238px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $basic-white;
  padding-top: 41px;
  margin: 0 auto;
  margin-bottom: 267px;
}

.promo__img {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translateX(-50%);
    background-image:
      url("../img/traveller-illustration-mobile@1x.png"),
      url("../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position:
      105px 223px,
      0 0;
    height: 569px;
    width: 320px;
    z-index: -1;
  }
}
