.promo {
  position: relative;
  z-index: 20;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    background-color: $promo-bg;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-blue;
    min-height: 651px;
    border-radius: 0 0 60px 60px;
    margin-bottom: -60px;
    z-index: 20;
  }

  &::after {
    content: "";
    position: absolute;
    top: -74px;
    left: 50%;
    transform: translateX(-50%);
    background-image:
      url("../img/traveller-illustration-mobile@1x.png"),
      url("../img/globe-back-mobile@1x.jpg");
    background-size: auto, 100vw 569px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position:
      62% 223px,
      0 0;
    height: 569px;
    width: 100%;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/traveller-illustration-mobile@2x.png"),
        url("../img/globe-back-mobile@2x.jpg");
      background-size: 192px auto, 100vw 569px;
    }

    @media (min-width: $tablet-width) {
      background-image:
        url("../img/traveller-illustration-tablet@1x.png"),
        url("../img/globe-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position:
        72% 366px,
        50% 343px;
      height: 100%;
      width: 100%;

      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/traveller-illustration-tablet@2x.png"),
          url("../img/globe-back-tablet@2x.jpg");
        background-size: 372px auto, 1472px auto;
      }
    }

    @media (min-width: $desktop-width) {
      background-image:
        url("../img/traveller-illustration-desktop@1x.png"),
        url("../img/globe-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position:
        60% 62px,
        50% -47px;
      height: 702px;
      width: 100%;
      top: -54px;

      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/traveller-illustration-desktop@2x.png"),
          url("../img/globe-back-desktop@2x.jpg");
        background-size: 431px auto, 1800px auto;
      }
    }
  }
}

.promo__title {
  display: block;
  width: 238px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $basic-white;
  padding-top: 18px;
  margin: 0 auto;
  margin-bottom: 267px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    margin-bottom: 87px;
    width: 400px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 500px;
    padding-top: 106px;
    padding-left: 68px;
    text-align: start;
  }
}
