.promo-feedback {
  position: absolute;
  top: 407px;
  width: 270px;
  min-height: 40px;
  display: flex;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo-feedback__tel {
  display: block;
  background-color: $special-orange;
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  padding: 11px;
}

.promo-feedback__mail {
  display: block;
  background-color: $special-yellow-dark;
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  padding: 11px;
}

.promo-feedback__auth {
  text-decoration: none;
  display: block;
  background-color: $basic-yellow;
  width: 190px;
  min-height: 40px;
  border-radius: 25px;
  padding: 10px 0;

  &--btn {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $basic-blue;
  }
}

.promo-feedback__svg {
  display: block;
  width: 18px;
  height: 18px;
}

.promo-feedback__svg-path {
  fill: $basic-blue;
}
