.rates-menu {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 270px;
  min-height: 443px;
  background-color: $basic-white;
  z-index: 18;
  box-shadow: 0px 2px 8px rgba($basic-blue-light, 0.14);
  border-radius: 20px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    top: 118px;
    min-width: 688px;
    min-height: 526px;
  }

  @media (min-width: $desktop-width) {
    top: 227px;
    min-width: 750px;
  }
}

.rates-menu__wrap {
  padding: 32px 24px;

  @media (min-width: $tablet-width) {
    padding: 50px 90px;
    padding-right: 93px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 60px;
  }
}

.rates-menu__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special_orange;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $basic-black;
    opacity: 0.05;

    @media (min-width: $tablet-width) {
      bottom: -51px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 64px;
  }
}

.rates-menu__text {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special_grey;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 16px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $basic-black;
    opacity: 0.05;

    @media (min-width: $tablet-width) {
      bottom: -14px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
  }
}

.rates-menu__price {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.rates-menu__btn {
  border: none;
  background-color: $bg-btn;
  width: 100%;
  min-height: 59px;
  border-radius: 0 0 20px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic_blue_light;

  @media (min-width: $tablet-width) {
    min-height: 108px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}
