.service-desc {
  position: relative;
  z-index: 0;

  @media (min-width: $tablet-width) {
    width: 360px;
  }

  @media (min-width: $desktop-width) {
    width: 678px;
  }
}

.service-desc__item:not(:last-child) {
  padding-bottom: 3px;

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;
  }
}

.service-desc__item--1 {
  padding: 0 34px 0 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;

    & br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    & br {
      display: none;
    }
  }
}

.service-desc__item--2 {
  padding: 0 34px 0 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    & br {
      display: inline;
    }
  }
}
