$basic-blue: #161c35;
$text-blue: #192144;
$text-blue-light: #132576;
$icon-bg: #121936;
$basic-white-dark: #edeff6;
$special-grey-light: #e6e8f1;
$basic-grey: #e1e3e9;
$basic-grey-after: #f2f2f2;
$basic-yellow: #ffd74b;
$special-yellow: #ffa530;
$special-yellow-dark: #ffbd30;
$special-blue-light: #dfe3f0;
$special-grey: #444444;
$basic-blue-light: #1d2e5b;
$basic-blue-dark: #141b3b;
$special-red: #f47e7e;
$special-orange: #ff8d30;
$basic-white: #ffffff;
$basic-black: #000000;
$offline: #f97676;
$online: #81e31e;
$output: #ff5c23;
$day-border: #cbced9;
$bg-button: #d6daed;
